Chess/Build/
Chess/dist/
Medical AI/old design/results/
Medical AI/old design/__pycache__/
Medical AI/old design/logs/
Medical AI/old design/fine_tuned_distilbert
NgramAndWordNet/data/
Medical AI/new design/.venv/
Medical AI/new design/__pycache__/
Medical AI/new design/.env/
